@model Calorie_Macro_Counter.Models.FoodItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChickenBreast" class="control-label"></label>
                <input asp-for="ChickenBreast" class="form-control" />
                <span asp-validation-for="ChickenBreast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChickenThigh" class="control-label"></label>
                <input asp-for="ChickenThigh" class="form-control" />
                <span asp-validation-for="ChickenThigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Steak" class="control-label"></label>
                <input asp-for="Steak" class="form-control" />
                <span asp-validation-for="Steak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeefGround" class="control-label"></label>
                <input asp-for="BeefGround" class="form-control" />
                <span asp-validation-for="BeefGround" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurkeyGround" class="control-label"></label>
                <input asp-for="TurkeyGround" class="form-control" />
                <span asp-validation-for="TurkeyGround" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiceWhite" class="control-label"></label>
                <input asp-for="RiceWhite" class="form-control" />
                <span asp-validation-for="RiceWhite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiceBrown" class="control-label"></label>
                <input asp-for="RiceBrown" class="form-control" />
                <span asp-validation-for="RiceBrown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Broccoli" class="control-label"></label>
                <input asp-for="Broccoli" class="form-control" />
                <span asp-validation-for="Broccoli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Onion" class="control-label"></label>
                <input asp-for="Onion" class="form-control" />
                <span asp-validation-for="Onion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BellPepper" class="control-label"></label>
                <input asp-for="BellPepper" class="form-control" />
                <span asp-validation-for="BellPepper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Potato" class="control-label"></label>
                <input asp-for="Potato" class="form-control" />
                <span asp-validation-for="Potato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Egg" class="control-label"></label>
                <input asp-for="Egg" class="form-control" />
                <span asp-validation-for="Egg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salad" class="control-label"></label>
                <input asp-for="Salad" class="form-control" />
                <span asp-validation-for="Salad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookingOil" class="control-label"></label>
                <input asp-for="CookingOil" class="form-control" />
                <span asp-validation-for="CookingOil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
