@{
    ViewData["Title"] = "Barbell Row";
}

<h1>Barbell Row</h1>

<img src="~/Images/Barbell-Row.webp" class="img-thumbnail" alt="~/Images/Barbell-Row - 500.webp">

<h2>Muscles Worked in Barbell Rows</h2>

<img src="~/Images/Barbell-row-muscles-worked.webp" class="img-thumbnail" alt="~/Images/Barbell-row-muscles-worked - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Lats</li>
    <li>Trapezius</li>
    <li>Rear Deltoids</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Biceps</li>
    <li>Lower Back</li>
    <li>Forearm Flexors</li>
    <li>Rotator Cuff</li>
</ul>

<h2>How to Do Barbell Rows With Proper Form</h2>

<p>1. Grip the bar with an overhand grip.</p>
<p>2. Lean forward with the bar hanging from straight arms.</p>
<p>3. Inhale and pull the bar towards you.</p>
<p>4. Pull the bar as high as you can so that it touches your abs or chest, if possible.</p>
<p>5. With control, lower the bar back to the starting position.</p>

<br />

<p>The barbell row is also known as the bent-over row, which refers to the bent-over position you hold throughout the exercise.</p>
<br />
<p>This exercise has been used for close to a century by bodybuilders and strength athletes looking to build a bigger and stronger back.</p>