@{
    ViewData["Title"] = "Bar Dips";
}

<h1>Bar Dips</h1>

<img src="~/Images/Dips.webp" class="img-thumbnail" alt="~/Images/Dips - 500.webp">

<h2>Muscles Worked in Bar Dips</h2>

<img src="~/Images/Bench-press-muscles-worked.webp" class="img-thumbnail" alt="~/Images/Bench-press-muscles-worked - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Chest</li>
    <li>Front Deltoid</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Triceps</li>
</ul>

<h2>How to do Bar Dips</h2>

<p>1. Grip a dip station about shoulder-width apart, and climb or jump to get into the starting position.</p>
<p>2. Lower yourself with control until your shoulder is below your elbow, or as deep as you comfortably can.</p>
<p>3. Reverse the motion and return to the starting position.</p>

<br />

<p>The bar dip is a classic upper-body exercise, and for most people, heavy enough to give a good training effect with the body weight alone as resistance.</p>
