@{
    ViewData["Title"] = "Bench Press";
}

<h1>Bench Press</h1>

<img src="~/Images/bench-press.webp" class="img-thumbnail" alt="~/Images/bench-press - 500.webp">

<h2>Muscles Worked in the Bench Press</h2>

<img src="~/Images/Bench-press-muscles-worked.webp" class="img-thumbnail" alt="~/Images/Bench-press-muscles-worked - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Chest</li>
    <li>Front Deltoid</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Triceps</li>
</ul>

<h2>How to Bench Press with proper form</h2>

<p>1. Lie on the bench, pull your shoulder blades together and down, and slightly arch your back.</p>
<p>2. Grip the bar slightly wider than shoulder-width apart.</p>
<p>3. Inhale, hold your breath, and unrack the bar.</p>
<p>4. Lower the bar with control, until it touches your chest somewhere close to your sternum.</p>
<p>5. Push the bar up to the starting position while exhaling.</p>
<p>6. Take another breath while in the top position, and repeat for reps.</p>

<br />

<p>The barbell bench press is one of the most popular exercises in the world and one of the best chest exercises you can do.</p>
