@{
    ViewData["Title"] = "BroClassicBodubuildingSplit";
}

<h1>CLASSIC BODYBUILDING SPLIT (AKA BRO SPLIT)</h1>

<h3>5 Day Split:</h3>
<p>Day 1: Legs</p>
<p>Day 2: Chest</p>
<p>Day 3: Back</p>
<p>Day 4: Shoulders</p>
<p>Day 5: Arms & Abs</p>
<p>Day 6-7: Rest </p>

<h4>Leg Workout</h4>
<p>1. Back Squats: 3-4 sets x 5-10 reps</p>
<p>2. Stiff-Leg Deadlifts: 3 sets x 8-12 reps</p>
<p>3. Barbell Hip Thrusts: 3 sets x 8-12 reps</p>
<p>4. Split Squats: 3 sets x 8-12 reps each side</p>
<p>5. Leg Extensions: 2 sets x 10-20 reps</p>
<p>6. Leg Curls: 2 sets x 10-20 reps</p>
<p>7. Calf Raises: 3 sets x 10-20 reps </p>


<h4>Chest Day</h4>
<p>1. Barbell Bench Press: 3-4 sets x 6-12 reps</p>
<p>2. Incline DB Bench Press: 3 sets x 8-15 reps</p>
<p>3. Cable Fly High to Low: 3 sets x 10-15 reps</p>
<p>4. Cable Fly Low to High: 3 sets x 10-15 reps</p>
<p>5. Dips: 3 sets x 10-20 reps </p>

<h4>Back Day</h4>
<p>1. Deadlifts: 3-4 sets x 5-8 reps</p>
<p>2. Pull Ups: 3 sets x max reps</p>
<p>3. Bent Over Barbell Row: 3 sets x 6-12 reps</p>
<p>4. Seated Close Grip Row: 3 sets x 8-15 reps</p>
<p>5. Kroc Row (aka Single Arm Row): 3 sets x 8-15 reps each side </p>
<p>6. Rear Delt Fly: 3 sets x 8-15 reps</p>

<h4>Shoulder Day</h4>
<p>1. Standing Overhead Press: 3-4 sets x 6-12 reps</p>
<p>2. Seated Arnold Press: 3 sets x 8-12 reps</p>
<p>3. Lateral Raises: 3 sets x 10-15 reps</p>
<p>4. Front Raises: 3 sets x 10-15 reps</p>
<p>5. Upright Rows: 3 sets x 10-15 reps</p>
<p>6. Shrugs: 3 sets x 12-20 reps </p>

<h4>Arms & Abs Day</h4>
<p>1. Barbell Bicep Curl: 3 sets x 8-12 reps</p>
<p>2. Alt. Hammer Curl: 2-3 sets x 10-12 reps each</p>
<p>3. Concentration Curl: 2-3 sets x 8-12 reps each side</p>
<p>4. Close Grip Bench: 3 sets x 8-12 reps</p>
<p>5. Tricep Overhead Extension: 2-3 sets x 10-15 reps</p>
<p>6. Tricep Kickback: 2-3 sets x 10-15 reps</p>
<p>7. Hanging Leg Raises: 2 sets x 8-12 reps</p>
<p>8. Plank: 2 sets x 30 sec holds</p>
<p>9. Side Plank: 2 sets x 30 sec hold each side</p>
<p>10. Woodchopper: 2 sets x 10 reps each way</p>