@{
    ViewData["Title"] = "Cable Crunch";
}

<h1>Cable Crunch</h1>

<img src="~/Images/cable-crunch.webp" class="img-thumbnail" alt="~/Images/cable-crunch - 500.webp">

<h2>Muscles Worked in Cable Crunches</h2>

<img src="~/Images/Muscles-worked-by-crunches.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-crunches - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Abs</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Obliques</li>
</ul>

<h2>How to Do Cable Crunches</h2>

<p>1. Fasten a rope handle in the upper position on a cable pulley. Sit down on your knees a few feet away, facing the pulley.</p>
<p>2. Bend your upper body forward by contracting your abs. Hold the ropes on either side of your head throughout the movement.</p>
<p>3. Reverse the motion and return to the starting position with control.</p>

<br />

<p>The cable crunch is an exercise where you have a little more control over the resistance compared to regular crunches, and also get a good range of motion.</p>
