@{
    ViewData["Title"] = "Crunch";
}

<h1>Crunch</h1>

<img src="~/Images/Crunch.webp" class="img-thumbnail" alt="~/Images/Crunch - 500.webp">

<h2>Muscles Worked in Crunches</h2>

<img src="~/Images/Muscles-worked-by-crunches.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-crunches - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Abs</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Obliques</li>
</ul>

<h2>How to Do Crunches</h2>

<p>1. Lie on your back, with your hands in front of your chest and your knees bent to about 90 degrees.</p>
<p>2. Lift your upper body by contracting your abs and bending forward.</p>
<p>3. Bend as far forward as possible while still keeping your low back in contact with the floor, and then return to the starting position.</p>

<br />

<p>The crunch is a classic body weight exercise for strengthening your abs. The exercise can be varied by lying on a soft training ball (i.e. pilates/bosu ball), 
    and you can increase the load by holding a weight against your chest.</p>