@{
    ViewData["Title"] = "Deadlift";
}

<h1>Deadlift</h1>

<img src="~/Images/Deadlift.webp" class="img-thumbnail" alt="~/Images/Deadlift - 500.webp">

<h2>Muscles Worked in the Deadlift</h2>

<img src="~/Images/Deadlift-muscles-worked.webp" class="img-thumbnail" alt="~/Images/Deadlift-muscles-worked - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Glutes</li>
    <li>Lower Back</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Quads</li>
    <li>Hamstrings</li>
    <li>Adductors</li>
    <li>Trapezius</li>
    <li>Forearm Flexors</li>
</ul>

<h2>How to Deadlift with Proper Form</h2>

<p>1. Step up close to the bar so that it is about over the middle of your foot.</p>
<p>2. Inhale, lean forward, and grip the bar.</p>
<p>3. Hold your breath, brace your core slightly, and lift the bar.</p>
<p>4. Pull the bar close to your body, with a straight back, until you are standing straight.</p>
<p>5. Lower the bar back to the ground with control.</p>
<p>6. Take another breath, and repeat for reps.</p>

<br />

<p>Deadlifting is one of the wisest things you can do with a barbell.</p>
<br />
<p>It strengthens your body from head to toe and puts on slabs of muscle all over you. Deadlift training builds a resilient back and hardens your body into injury-proof armor.</p>
