@{
    ViewData["Title"] = "Dumbbell Lateral Raise";
}

<h1>Dumbbell Lateral Raise</h1>

<img src="~/Images/Dumbbell-Lateral-Raise.webp" class="img-thumbnail" alt="~/Images/Dumbbell-LateralRaise - 500.webp">

<h2>Muscles Worked in the Dumbbell Lateral Raise</h2>

<img src="~/Images/Muscles-worked-by-dumbbell-lateral-raise-2.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-dumbbell-lateral-raise-2 - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Lateral Deltoid</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Front Deltoid</li>
</ul>

<h2>How to Do Dumbbell Lateral Raises</h2>

<p>1. Hold a pair of dumbbells in almost straight arms hanging by your sides.</p>
<p>2. With control, lift the dumbbells out to your sides until your upper arms are horizontal.</p>
<p>3. Lower the dumbbells with control.</p>
<p>4. Repeat for reps.</p>

<br />

<p>
    The dumbbell lateral raise is an isolation exercise for primarily the lateral deltoid muscles. 
    This exercise is popular for its ability to sculpt and strengthen the shoulder muscles and is easy to perform since the only equipment you need is a pair of dumbbells.
</p>
<br />
<p>This is an exercise where it is easy to pick a weight that is too heavy. Rather err on the lighter side, and strive for a strict form where you focus on getting a good contact with your delts.</p>