@{
    ViewData["Title"] = "Dumbbell Curl";
}

<h1>Dumbbell Curl</h1>

<img src="~/Images/DumbbellCurl.webp" class="img-thumbnail" alt="~/Images/DumbbellCurl - 500.webp">

<h2>Muscles Worked in Dumbbell Curls</h2>

<img src="~/Images/Muscles-worked-in-the-barbell-curl-2.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-in-the-barbell-curl-2 - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Biceps</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Forearm Flexors</li>
</ul>

<h2>How to Do Dumbbell Curls</h2>

<p>1. Hold a pair of dumbbells in an underhand (supinated) grip, arms hanging by your sides.</p>
<p>2. Lift the dumbbells with control, by flexing your elbows.</p>
<p>3. Don’t let your upper arms travel back during the curl. Keep them at your sides, or move them slightly forward.</p>
<p>4. Reverse the movement and lower the dumbbells back to the starting position.</p>

<br />

<p>The Dumbbell Curl is a classic and effective exercise that targets the biceps. This exercise is renowned for its simplicity, 
    all you need is a pair of dumbbells (of the same weight) and you’re ready to start pumping those biceps.</p>
<br />
<p>Whether you’re looking to improve your arm strength, increase muscle mass, or simply tone your upper body, the Dumbbell Curl is an excellent choice.</p>