@{
    ViewData["Title"] = "FullBodySplit";
}

<h1>FULL BODY WORKOUT SPLIT</h1>

<p>A full body split involves workouts that target both your upper and lower body each training session, or in other words, full body workouts! This plan is great for many types of lifters and 
    is a favorite workout split among women.</p>

<p>
    However, you aren’t going to be targeting every single muscle in your body each session. Rather, with a total body workout split, you will be performing compound movements that work multiple 
    muscle groups at the same time and allow you to hit your major muscle groups each session.
</p>

<p>
    For example, one full body workout may entail squats, bench press, overhead press, and pull ups, while another has deadlifts, dips, farmer’s walks, and hanging leg raises.
</p>

<p>
    This is a simplified example, but as you can see, with total body workouts you aren’t necessarily specifically targeting every single muscle group each workout, but you are working your full body. Ove the week, you should do at
    least one or two exercises that does specifically target a muscle group. i.e. you should have squats in one of your workouts to target your quads, bench press for your chest, overhead press for your shoulders, and so on.
</p>

<h2>FULL BODY SPLIT OPTIONS: 2, 3, OR 4 DAYS PER WEEK</h2>

<p>Three things to consider with Full Body Splits:</p>
<p>1. Full body workout splits are best done on a 2, 3, or 4 day schedule.</p>
<p>2. Always have a rest day in between sessions. Full body workouts are taxing on the overall nervous system, even for beginners who aren’t lifting heavy.</p>
<p>3. You must hit all major muscle groups each week. Split up your workouts so that you are doing all the main compound lifts throughout the week.</p>
<p>Let's look at the different schedules you can follow with full-body splits.</p>

<h2>2 Day Split:</h2>
<p>Day 1: Full Body Workout</p>
<p>Day 2: Rest</p>
<p>Day 3: Rest</p>
<p>Day 4: Full Body Workout</p>
<p>Day 5-7: Rest</p>

<h4>Workout 1:</h4>
<p>1. Squats: 4 sets x 6-12 reps</p>
<p>2. Bench Press: 4 sets x 6-12 reps</p>
<p>3. Seated DB Shoulder Press: 3 sets x 10-15 reps</p>
<p>4. Rows: 3 sets x 8-15 reps</p>
<p>5. Hanging Leg Raises: 3 sets x 6-12 reps</p>

<h4>Workout 2:</h4>
<p>1. Deadlifts: 4 sets x 6-10 reps</p>
<p>2. Overhead Press: 4 sets x 8-12 reps</p>
<p>3. Pull Ups: 3 sets x max reps</p>
<p>4. DB incline Press: 3 sets x 10-15 reps</p>
<p>5. Planks: 3 sets x 30-60 second holds</p>

<h2>3 Day Split:</h2>
<p>Day 1: Full Body Workout</p>
<p>Day 2: Rest</p>
<p>Day 3: Full Body Workout</p>
<p>Day 4: Rest</p>
<p>Day 5: Full Body Workout</p>
<p>Day 6 & 7: Rest</p>

<h4>Workout 1:</h4>
<p>1. Squats: 4 sets x 6-12 reps</p>
<p>2. Overhead Press: 4 sets x 6-12 reps</p>
<p>3. Rows: 3 sets x 10-15 reps</p>
<p>4. Dips: 3 sets x 8-15 reps</p>

<h4>Workout 2:</h4>
<p>1. Bench Press: 4 sets x 6-12 reps</p>
<p>2. Pull Ups: 3 sets x max reps</p>
<p>3. Split Squats: 3 sets x 8-12 reps each side</p>
<p>4. Planks: 3 sets x 30-60 second holds</p>

<h4>Workout 3:</h4>
<p>1. Deadlifts: 4 sets x 6-10 reps</p>
<p>2. Seated DB Overhead Press: 4 sets x 10-15 reps</p>
<p>3. Push Ups: 3 sets x 15-20+ reps</p>
<p>4. Hanging Leg Raises: 3 sets x 8-12 reps</p>


<h3>4 Day Split:</h3>
<p>Day 1: Full Body Workout</p>
<p>Day 2: Rest</p>
<p>Day 3: Full Body Workout</p>
<p>Day 4: Rest</p>
<p>Day 5: Full Body Workout</p>
<p>Day 6: Rest</p>
<p>Day 7: Full Body Workout</p>
<p>Day 8: Rest</p>
<p>Repeat</p>

<h4>Workout 1:</h4>
<p>1. Standing Overhead Press: 4 sets x 6-12 reps</p>
<p>2. Hip Thrusts: 3 sets x 8-15 reps</p>
<p>3. Pull Ups: 4 sets x Max reps</p>
<p>4. Dips: 3 sets x 10-15 reps</p>

<h4>Workout 2:</h4>
<p>1. Squats: 4 sets x 6-12 reps</p>
<p>2. Incline DB Bench Press: 3 sets x 10-15 reps</p>
<p>3. Seated Rows: 3 sets x 10-15 reps</p>
<p>4. Leg Raises: 3 sets x 8-12 reps </p>

<h4>Workout 3:</h4>
<p>1. Bench Press: 4 sets x 6-12 reps</p>
<p>2. Bent Over Barbell Row: 3 sets x 8-12 reps</p>
<p>3. Split Squats: 3 sets x 8-12 reps each side</p>
<p>4. Bicep Curl x Tricep Extension: 2 sets x 10-20 reps each</p>

<h4>Workout 4:</h4>
<p>1. Deadlifts: 4 sets x 6-10 reps</p>
<p>2. Seated DB Overhead Press: 3 sets x 10-15 reps</p>
<p>3. Chest Fly or DB Pull Overs: 3 sets x 10-15 reps</p>
<p>4. Planks: 3 sets x 30-60 second holds</p>