@{
    ViewData["Title"] = "Hanging Leg Raise";
}

<h1>Hanging Leg Raise</h1>

<img src="~/Images/hanging-leg-raise.webp" class="img-thumbnail" alt="~/Images/hanging-leg-raise - 500.webp">

<h2>Muscles Worked in Hanging Leg Raise</h2>

<img src="~/Images/Muscles-worked-by-crunches.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-crunches - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Abs</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Obliques</li>
</ul>

<h2>How to Do Hanging Leg Raises</h2>

<p>1. Jump up and grab a bar, placed high enough that you can hang from it with straight legs.</p>
<p>2. Without swinging, lift your legs as high as you can in front of you.</p>
<p>3. Lower your legs again, with control.</p>

<br />

<p>Hanging leg raises train your abs and your hip flexors. The exercise can be made easier by bending your knees, called hanging knee raises, 
    and you can make it heavier by using ankle weights or by holding a small dumbbell between your feet.</p>
