@{
    ViewData["Title"] = "Hip Thrust";
}

<h1>Hip Thrust</h1>

<img src="~/Images/Hip-thrust.webp" class="img-thumbnail" alt="~/Images/Hip-thrust - 500.webp">

<h2>Muscles Worked in Hip Thrusts</h2>

<img src="~/Images/Muscles-worked-in-barbell-hip-thrust.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-in-barbell-hip-thrust - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Glutes</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Adductors</li>
    <li>Quads</li>
</ul>

<h2>How to Do Hip Thrust</h2>

<p>1. Sit on the floor with your back against a sturdy bench.</p>
<p>2. Roll the barbell up over your thighs, until it is placed over your hips.</p>
<p>3. Place your feet on the floor, about shoulder-width apart, with bent knees.</p>
<p>4. Place your hands on the bar to stabilize it.</p>
<p>5. Push the bar towards the ceiling by extending your hips. Your knees should form a ~90 degree angle at the top.</p>
<p>6. Lower the weight and repeat for reps.</p>

<br />

<p>
    It is recommended to place something between the bar and your pelvis to soften the pressure from the bar, like a folded yoga mat, a towel, or a barbell pad.
</p>