@{
    ViewData["Title"] = "Incline Dumbbell Press";
}

<h1>Incline Dumbbell Press</h1>

<img src="~/Images/Incline-Dumbbell-Press.webp" class="img-thumbnail" alt="~/Images/Incline-Dumbbell-Press - 500.webp">

<h2>Muscles Worked in the Incline Dumbbell Press</h2>

<img src="~/Images/Bench-press-muscles-worked.webp" class="img-thumbnail" alt="~/Images/Bench-press-muscles-worked - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Chest</li>
    <li>Front Deltoid</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Triceps</li>
</ul>

<h2>How to Incline Dumbbell Press</h2>

<p>1. Adjust the incline of a bench to be around 30-45 degrees.</p>
<p>2. Sit down and lift a pair of dumbbells to the starting position.</p>
<p>3. Press the dumbbells up to straight arms while exhaling.</p>
<p>4. Inhale at the top or while lowering the dumbbells with control back to your shoulders.</p>

<br />

<p>Great for building muscle and strength. The incline dumbbell press works your chest and front delts through a long range of motion and in a stable position. 
    That is a great recipe for muscle growth! Also, your triceps get some work as secondary movers.</p>
