@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Welcome to Calorie Macro Counter</h1>
</header>

<div class="container-custom">
    <div class="d-flex justify-content-center">
        <img src="~/Images/food scale.jpg" class="img-thumbnail" alt="Food Scale">
        <img src="~/Images/weight lifting.jpg" class="img-thumbnail" alt="Weight Lifting">
    </div>

    <div class="text-center">
        <h1 class="display-1">Welcome to Calorie Macro Counter</h1>
    </div>

    <div class="text-center">
        <h2 class="display-6">
            It never gets easier, you just get better at it.
        </h2>
    </div>

    <div class="p-3 text-center">
        <strong>This website features:</strong>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Feature</th>
                    <th scope="col">See Page</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Calorie Macro Calculator</td>
                    <td><a href="@Url.Action("Edit", "FoodItems")" class="btn btn-primary">Calculator</a></td>
                </tr>
                <tr>
                    <td>Complete Exercise Overview</td>
                    <td><a href="@Url.Action("Overview", "Home")" class="btn btn-primary">Overview</a></td>
                </tr>
                <tr>
                    <td>Specific information on each exercise</td>
                    <td>Use links from overview</td>
                </tr>
                <tr>
                    <td>Gym Routines</td>
                    <td><a href="@Url.Action("Routines", "Home")" class="btn btn-primary">Routines</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>About Calorie Macro Counter</h2>

    <p>
        This website offers a place for members to track and log their daily caloric intake. Additionally, you will be able to keep track of your daily macro nutrients,
        to ensure you are eating correctly to meet your unique, individual fitness goals. We also offer information on many different exercises you may want to incorporate into your gym routine,
        as well as different examples of routines that fit different individuals based on how much time you have available to attend the gym.
    </p>
</div>

<footer>
    &copy; @DateTime.Now.Year - Calorie Macro Counter
</footer>
