@{
    ViewData["Title"] = "Home Page";
}


<img src="~/Images/food scale.jpg" class="img-thumbnail" alt="~/Images/food scale - 500.jpg">
<img src="~/Images/weight lifting.jpg" class="img-thumbnail" alt="~/Images/weight lifting - 500.jpg">

<div class="text-center">
    <h1 class="display-1">Welcome to Calorie Macro Counter</h1>
</div>

<div class="text-center">
    <h2 class="display-6">This website offers a place for members to track and log their daily caloric intake. Additionally, you will be able to keep track of your daily macro nutrients, 
        to ensure you are eating correctly to meet your unique, individual fitness goals. We also offer information on many different exercises you may want to incorporate into your gym routine,
        as well as different examples of routines that fit different individuals based on how much time you have available to attend the gym.</h2>
</div>

<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    This website features:
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Feature</th>
                <th scope="col">See Page</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Calorie Macro Calculator</td>
                <td>Calculator</td>
            </tr>
            <tr>
                <td>Complete Exercise Overview</td>
                <td>Overview</td>
            </tr>
            <tr>
                <td>Specific information on each exercise</td>
                <td>Use links from overview</td>
            </tr>
            <tr>
                <td>Gym Routines</td>
                <td>Routines</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Calorie Macro Counter</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
