@{
    ViewData["Title"] = "Lat Pulldown";
}

<h1>Lat Pulldown</h1>

<img src="~/Images/lat-pulldown.webp" class="img-thumbnail" alt="~/Images/lat-pulldown - 500.webp">

<h2>Muscles Worked in the Lat Pulldown</h2>

<img src="~/Images/Muscles-worked-by-lat-pulldown.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-lat-pulldown - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Lats</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Biceps</li>
    <li>Rear Deltoids</li>
    <li>Forearm Flexors</li>
    <li>Rotator Cuffs</li>
</ul>

<h2>How to do Lat Pulldowns</h2>

<p>1. Begin by adjusting the thigh pad to fit snugly against your thighs to prevent your body from lifting off the seat.</p>
<p>2. Grasp the bar with an overhand (pronated) grip, with your hands slightly wider than shoulder-width apart.</p>
<p>3. Sit with your thighs under the thigh pad, keep your chest up, and look at the bar.</p>
<p>4. Pull the bar down towards your chest, leading with your elbows. Pull until the bar is below your chin or touches your upper chest.</p>
<p>5. Squeeze your shoulder blades together at the bottom of the movement.</p>
<p>6. Exhale and slowly release the bar back up to the starting position.</p>

<br />

<p>The lat pulldown is a classic back exercise that mainly works your lats, biceps, and rear deltoids. It is the fourth most popular exercise of all, according to statistics</p>
<br />
<p>Increased upper body strength. The lat pulldown is an excellent exercise for increasing your upper body pulling strength. This is especially useful if you want to increase your strength for exercises like pull-ups and chin-ups.</p>