@{
    ViewData["Title"] = "Leg Extension";
}

<h1>Leg Extension</h1>

<img src="~/Images/leg-extension-seated.webp" class="img-thumbnail" alt="~/Images/leg-extension-seated - 500.webp">

<h2>Muscles Worked in Leg Extensions</h2>

<img src="~/Images/muscles-worked-in-leg-extension-2.webp" class="img-thumbnail" alt="~/Images/muscles-worked-in-leg-extension-2 - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Quads</li>
</ul>


<h2>How to Do Leg Extensions</h2>

<p>1. Adjust the machine so that you are correctly positioned. Your knees should be in line with the machine’s joint.</p>
<p>2. Extend your knees with control, until they are completely straight.</p>
<p>3. Slowly lower the weight again.</p>

<br />

<p>
    The seated leg curl is an isolation exercise for the quadriceps and is one of the most popular leg exercises.
</p>
<br />
<p>Whether your goal is to get big quads or to get stronger legs, the leg extension is a great exercise to incorporate into your workout routine.</p>