@{
    ViewData["Title"] = "Leg Press";
}

<h1>Leg Press</h1>

<img src="~/Images/Leg-Presses.jpg class="img-thumbnail" alt="~/Images/Leg-Presses - 500.jpg">

<h2>Muscles Worked in Leg Press</h2>

<img src="~/Images/Muscles-worked-by-leg-press.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-leg-press - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Quads</li>
    <li>Glutes</li>
    <li>Adductors</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Hamstrings</li>
</ul>

<h2>How to Leg Press</h2>

<p>1. Adjust the machine so that you only need to extend your legs slightly to be able to release the weights. Adjust the safety pins so that they catch the weight if you are unable to lift it.</p>
<p>2. Place your feet on the platform, about shoulder-width apart.</p>
<p>3. Inhale and lower the weight by bending your legs.</p>
<p>4. Lower the weight as deep as possible without rounding your back and while keeping your glutes on the seat.</p>
<p>5. Press the weight back up again as you exhale.</p>
<br />

<p>
    The leg press is a popular leg exercise that, compared with barbell squats, requires less balance, control, and mobility. 
    This means that this exercise can be easier to start with for a beginner and also that you can train closer to muscular failure without thinking about balance.
</p>