@{
    ViewData["Title"] = "Overhead Press";
}

<h1>Overhead Press</h1>

<img src="~/Images/Overhead-press.webp" class="img-thumbnail" alt="~/Images/Overhead-press - 500.webp">

<h2>Muscles Worked in the Overhead Press</h2>

<img src="~/Images/Muscles-worked-overhead-press.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-overhead-press - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Front Deltoid</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Triceps</li>
    <li>Lateral Deltoid</li>
</ul>

<h2>How to Overhead Press with proper form</h2>

<p>1. First, place a barbell in a rack at about chest height.</p>
<p>2. Grip the bar slightly wider than shoulder-width apart, and step close to it.</p>
<p>3. Inhale, lightly brace your core, and unrack the bar.</p>
<p>4. Let the bar rest against your front delts while you step back from the rack.</p>
<p>5. Press the bar up to straight arms while exhaling.</p>
<p>6. Inhale at the top or while lowering the bar with control back to your shoulders.</p>
<p>7. Repeat for reps.</p>

<br />

<p>To do a strict overhead press, you should not use your legs but instead, keep them still during the entire lift. 
    When you use your legs to help push the bar up, it is usually called a push press, and when you both use your legs on the way up 
    and also dip your legs to catch the bar on straight arms, it is called a jerk.</p>