@{
    ViewData["Title"] = "Overhead Cable Triceps Extension";
}

<h1>Overhead Cable Triceps Extension</h1>

<img src="~/Images/cable-rope-overhead-triceps-extension.webp" class="img-thumbnail" alt="~/Images/cable-rope-overhead-triceps-extension - 500.webp">

<h2>Muscles Worked in Overhead Cable Triceps Extensions</h2>

<img src="~/Images/Muscles-worked-in-Overhead-Cable-Triceps-Extension.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-in-Overhead-Cable-Triceps-Extension - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Triceps</li>
</ul>

<h2>How to Do Overhead Cable Triceps Extensions</h2>

<p>1. Fasten a rope handle in the lower position of a cable pulley. Stand with your back against the pulley, with a slight forward lean, and hold the rope behind your head and your upper arms next to your ears.</p>
<p>2. Straighten your elbows until your arms are fully extended.</p>
<p>3. Reverse the motion by bending your arms again.</p>
<br />

<p>This is an exercise that is effective for isolating the tricep muscle, and the direction of resistance helps to keep constant tension in your triceps, which might be beneficial for muscle growth.</p>
