@{
    ViewData["Title"] = "Pull Up";
}

<h1>Pull Up</h1>

<img src="~/Images/pull-up.webp" class="img-thumbnail" alt="~/Images/pull-up - 500.webp">

<h2>Muscles Worked in the Pull Up</h2>

<img src="~/Images/Muscles-worked-by-pull-ups.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-pull-ups - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Lats</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Biceps</li>
    <li>Rear Deltoids</li>
    <li>Forearm Flexors</li>
    <li>Rotator Cuffs</li>
</ul>

<h2>How to Do a Pull-Up</h2>

<p>1. Grip the bar with palms facing away from you, slightly wider than shoulder-width.</p>
<p>2. Keep your chest up, and look up at the bar.</p>
<p>3. Inhale and pull yourself up until your chin is over the bar or the bar touches your upper chest.</p>
<p>4. Exhale and lower yourself with control until your arms are fully extended.</p>

<br />

<p>The pull-up might be the most classic test (and developer!) of upper body strength. It has been used by bodybuilders to build back muscles for decades, 
    and for the beginner, it often represents the first real training goal: being able to do your first pull-up.</p>
