@{
    ViewData["Title"] = "PushPullLegSplit";
}

<h1>PUSH PULL LEGS WORKOUT SPLIT</h1>

<h3>3 Day Split:</h3>
<p>Monday: Push</p>
<p>Tuesday: Rest</p>
<p>Wednesday: Legs</p>
<p>Thursday: Rest</p>
<p>Friday: Pull</p>
<p>Saturday: Rest</p>
<p>Sunday: Rest</p>

<h4>Push Workout</h4>
<p>1. Bench Press: 3 sets x 6-10 reps</p>
<p>2. Standing Overhead Press: 3 sets x 6-10 reps</p>
<p>3. Parallel Dips: 3 sets x 8-15 reps</p>
<p>4. Dumbbell Fly: 3 sets x 8-12 reps</p>
<p>5. Lateral DB Raises: 3 sets x 10-15 reps</p>
<p>6. Tricep Extensions: 3 sets x 15-20 reps</p>
<p>7. Core work: 2-3 sets</p>

<h4>Legs Workout</h4>
<p>1. Back Squats: 3 sets x 5-10 reps</p>
<p>2. Deadlifts: 3 sets x 5-10 reps</p>
<p>3. Split Squats: 3 sets x 8-12 reps each side</p>
<p>4. Hip Thrusts: 3 sets x 8-15 reps</p>
<p>5. Calf raises: 3 sets x 12-20 reps</p>
<p>6. Core Work: 2-3 sets</p>

<h4>Pull Workout</h4>
<p>1. Pull Ups or Chin Ups: 3 sets x max reps (full range of motion)</p>
<p>2. Bent Over Rows: 3 sets x 6-12 reps</p>
<p>3. T-Bar Rows: 3 sets x 8-15 reps</p>
<p>4. Rear Delt Flys: 3 sets x 12-20 reps</p>
<p>5. Shrugs: 3 sets x 12-20 reps</p>
<p>6. Bicep Curls: 3 sets x 15-20 reps</p>
<p>7. Core work: 2-3 sets</p>

<h3>6 Day Split:</h3>
<p>Monday: Push</p>
<p>Tuesday: Pull</p>
<p>Wednesday: Legs</p>
<p>Thursday: Push</p>
<p>Friday: Pull</p>
<p>Saturday: Legs</p>
<p>Sunday: Rest</p>

<br />

<p>The 6 day split option is an alternate routine allowing you to hit all of these muscle groups twice a week, while still maintaining optimal rest time between muscle groups.</p>