@{
    ViewData["Title"] = "Reverse Dumbbell Fly";
}

<h1>Reverse Dumbbell Fly</h1>

<img src="~/Images/Reverse-dumbbell-flyes.webp" class="img-thumbnail" alt="~/Images/Reverse-dumbbell-flyes - 500.webp">

<h2>Muscles Worked in Reverse Dumbbell Flyes</h2>

<img src="~/Images/Muscles-worked-by-reverse-dumbbell-flyes-2.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-reverse-dumbbell-flyes-2 - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Rear Deltoid</li>
    <li>Rotator Cuff</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Trapezius</li>
</ul>

<h2>How to Do Reverse Dumbbell Flyes</h2>

<p>1. Hold a pair of dumbbells, lean forward, and let your arms hang towards the floor.</p>
<p>2. With almost straight arms (just a slight bend at the elbow), slowly lift the dumbbells by raising your arms out to the sides.</p>
<p>3. Reverse the movement and lower the dumbbells back to the starting position.</p>

<br />

<p>The reverse dumbbell fly primarily works your rotator cuff and rear deltoids, and secondarily your trapezius.</p>
<br />
<p>The reverse dumbbell fly is an isolation exercise for the muscles that horizontally extend your upper arms and thus trains many of the antagonists of common pressing exercises.</p>