@{
    ViewData["Title"] = "Routines";
}

<h1>Routines</h1>

<p>
    One of the most crucial parts of a lifter's training involves their workout split, which is essential for tracking progress 
    and focusing on goals such as building muscle, strength, endurance, and athleticism.
    <br />
    But, deciding on the right split can be challenging. Talk to five different people about what workout split is the best and 
    you are likely to get five different splits. Some splits, however, are tried and true, 
    backed by years of results and proven studies, and it's those splits we recommend to clients time and time again.
</p>

<h2>The 5 best workout splits are:</h2>
<h4>1. Full Body Split</h4>
<h4>2. Upper Lower Split</h4>
<h4>3. Push Pull Leg Split</h4>
<h4>4. Bro/Classic Bodybuilding Split</h4>

<p>
    Now that you know what the best splits are, let's get into everything else you need to know, including how to determine which of these 5 splits is best for you, 
    your ideal training frequency, and the best workouts to follow for each.
</p>

<h2>Table of Contents:</h2>

<h4>How to choose the right workout split for you</h4>
<h4>4 Best Workout Splits</h4>
<h4>Workout split FAQs</h4>

<br />

<h2>HOW TO CHOOSE THE RIGHT WORKOUT SPLIT</h2>

<p>A workout split is ideal for training because it helps you divide and conquer your body in a way where you exhaust specific muscles and then let them recover while you train other muscle groups.</p>

<p>This enables you to maximize the intensity, training volume, training frequency, and recovery time of all your muscles, as you follow your schedule for an extended period, anywhere from 4 - 12 weeks.</p>

<p>
    In the most basic sense, a workout split will be created based on:

    How many days a week you will train (i.e. 3, 4 or 5 days per week)
    Targeted muscles for each workout session (i.e. chest, shoulders and triceps for one of the workout days)
    (Usually) specific exercises that you will do for each of those workouts
</p>

<p>There are several things you need to consider when deciding on a workout split. The 5 factors that will help you choose the right workout split are:</p>

<p>
    Training Experience
    Goals
    Availability
    Rest & Recovery Needs
    Weaknesses
</p>

<p>Keep these factors in mind as you look through the different split options and plans. We're going to briefly discuss each factor, but if you're ready to get right to the workout splits, keep scrolling.</p>

<h2>1. TRAINING EXPERIENCE</h2>

<p>The right training split for a beginner will look a lot different than one for a more advanced lifter. While the overall strategy and goal can be similar, the workout splits training frequency, 
    volume and intensity will differ based on your training experience and fitness level.</p>

<h2>2. GOALS</h2>

<p>People’s fitness goals vary, and the workout split you choose should be influenced by whatever your end goal is. A workout split for someone who wants to strictly build muscle will look a lot different 
    than someone who wants to lose fat.</p>

<h2>3. AVAILABILITY</h2>

<p>Not everyone has a schedule that allows them to workout whenever the want. You need to determine how many days of the week you can actually commit to working out as that will be a big factor in what workout split you should choose.</p>

<h2>4. REST & RECOVERY NEEDS</h2>

<p>Don’t underestimate rest and recovery! It’s just as important as the workouts. Choose a split that you feel will give you the recovery time that your age, fitness level, and lifestyle needs, and if you have plenty of energy on a rest day, 
    then do another activity like a sport, hiking, cycling, or whatever you like. </p>\

<h2>5. WEAKNESSES</h2>

<p>
    If you have certain weaknesses that you want to emphasize then choose a workout split or structure one in a way that allows you to improve upon those weaknesses to the fullest potential. For example, if you feel your legs are way behind, 
    then make sure you are doing legs on days that you will definitely be fresh and full of energy or choose a split that allows you to hit legs twice or just legs during one workout session.
</p>

<p>
    All in all, your workout split should be dictated by your goals, training experience, lifestyle, age, availability, and weaknesses, which is why there is no one size fits all in the world of fitness.
</p>


<h1>1. FULL BODY WORKOUT SPLIT</h1>

<p>A full body split involves workouts that target both your upper and lower body each training session, or in other words, full body workouts! This plan is great for many types of lifters and 
    is a favorite workout split among women.</p>

<p>
    However, you aren’t going to be targeting every single muscle in your body each session. Rather, with a total body workout split, you will be performing compound movements that work multiple 
    muscle groups at the same time and allow you to hit your major muscle groups each session.
</p>

<p>
    For example, one full body workout may entail squats, bench press, overhead press, and pull ups, while another has deadlifts, dips, farmer’s walks, and hanging leg raises.
</p>

<p>
    This is a simplified example, but as you can see, with total body workouts you aren’t necessarily specifically targeting every single muscle group each workout, but you are working your full body. Ove the week, you should do at
    least one or two exercises that does specifically target a muscle group. i.e. you should have squats in one of your workouts to target your quads, bench press for your chest, overhead press for your shoulders, and so on.
</p>

<h2>FULL BODY SPLIT OPTIONS: 2, 3, OR 4 DAYS PER WEEK</h2>

<p>Three things to consider with Full Body Splits:</p>
<p>1. Full body workout splits are best done on a 2, 3, or 4 day schedule.</p>
<p>2. Always have a rest day in between sessions. Full body workouts are taxing on the overall nervous system, even for beginners who aren’t lifting heavy.</p>
<p>3. You must hit all major muscle groups each week. Split up your workouts so that you are doing all the main compound lifts throughout the week.</p>
<p>Let's look at the different schedules you can follow with full-body splits.</p>

<h2>2 Day Split:</h2>
<p>Day 1: Full Body Workout</p>
<p>Day 2: Rest</p>
<p>Day 3: Rest</p>
<p>Day 4: Full Body Workout</p>
<p>Day 5-7: Rest</p>

<h4>Workout 1:</h4>
<p>1. Squats: 4 sets x 6-12 reps</p>
<p>2. Bench Press: 4 sets x 6-12 reps</p>
<p>3. Seated DB Shoulder Press: 3 sets x 10-15 reps</p>
<p>4. Rows: 3 sets x 8-15 reps</p>
<p>5. Hanging Leg Raises: 3 sets x 6-12 reps</p>

<h4>Workout 2:</h4>
<p>1. Deadlifts: 4 sets x 6-10 reps</p>
<p>2. Overhead Press: 4 sets x 8-12 reps</p>
<p>3. Pull Ups: 3 sets x max reps</p>
<p>4. DB incline Press: 3 sets x 10-15 reps</p>
<p>5. Planks: 3 sets x 30-60 second holds</p>

<h2>3 Day Split:</h2>
<p>Day 1: Full Body Workout</p>
<p>Day 2: Rest</p>
<p>Day 3: Full Body Workout</p>
<p>Day 4: Rest</p>
<p>Day 5: Full Body Workout</p>
<p>Day 6 & 7: Rest</p>

<h4>Workout 1:</h4>
<p>1. Squats: 4 sets x 6-12 reps</p>
<p>2. Overhead Press: 4 sets x 6-12 reps</p>
<p>3. Rows: 3 sets x 10-15 reps</p>
<p>4. Dips: 3 sets x 8-15 reps</p>

<h4>Workout 2:</h4>
<p>1. Bench Press: 4 sets x 6-12 reps</p>
<p>2. Pull Ups: 3 sets x max reps</p>
<p>3. Split Squats: 3 sets x 8-12 reps each side</p>
<p>4. Planks: 3 sets x 30-60 second holds</p>

<h4>Workout 3:</h4>
<p>1. Deadlifts: 4 sets x 6-10 reps</p>
<p>2. Seated DB Overhead Press: 4 sets x 10-15 reps</p>
<p>3. Push Ups: 3 sets x 15-20+ reps</p>
<p>4. Hanging Leg Raises: 3 sets x 8-12 reps</p>


<h3>4 Day Split:</h3>
<p>Day 1: Full Body Workout</p>
<p>Day 2: Rest</p>
<p>Day 3: Full Body Workout</p>
<p>Day 4: Rest</p>
<p>Day 5: Full Body Workout</p>
<p>Day 6: Rest</p>
<p>Day 7: Full Body Workout</p>
<p>Day 8: Rest</p>
<p>Repeat</p>

<h4>Workout 1:</h4>
<p>1. Standing Overhead Press: 4 sets x 6-12 reps</p>
<p>2. Hip Thrusts: 3 sets x 8-15 reps</p>
<p>3. Pull Ups: 4 sets x Max reps</p>
<p>4. Dips: 3 sets x 10-15 reps</p>

<h4>Workout 2:</h4>
<p>1. Squats: 4 sets x 6-12 reps</p>
<p>2. Incline DB Bench Press: 3 sets x 10-15 reps</p>
<p>3. Seated Rows: 3 sets x 10-15 reps</p>
<p>4. Leg Raises: 3 sets x 8-12 reps </p>

<h4>Workout 3:</h4>
<p>1. Bench Press: 4 sets x 6-12 reps</p>
<p>2. Bent Over Barbell Row: 3 sets x 8-12 reps</p>
<p>3. Split Squats: 3 sets x 8-12 reps each side</p>
<p>4. Bicep Curl x Tricep Extension: 2 sets x 10-20 reps each</p>

<h4>Workout 4:</h4>
<p>1. Deadlifts: 4 sets x 6-10 reps</p>
<p>2. Seated DB Overhead Press: 3 sets x 10-15 reps</p>
<p>3. Chest Fly or DB Pull Overs: 3 sets x 10-15 reps</p>
<p>4. Planks: 3 sets x 30-60 second holds</p>

<h1>2. UPPER LOWER WORKOUT SPLIT</h1>

<h3>4 Day Split:</h3>
<p>Day 1: Upper Workout #1</p>
<p>Day 2: Lower Workout #1</p>
<p>Day 3: Rest</p>
<p>Day 4: Upper Workout #2</p>
<p>Day 5: Lower Workout #2</p>
<p>Day 6-7: Rest</p>

<h4>Upper Workout #1</h4>
<p>1. Bench Press: 3-5 sets x 3-6 reps</p>
<p>2. Overhead Press: 3-5 sets x 5-8 reps</p>
<p>3. Rear Delt Fly: 2-3 sets x 10-15 reps</p>
<p>4. Trap Raises: 2-3 sets x 8-12+ reps</p>
<p>5. Bicep Curls: 2-3 sets x 8-15 reps</p>

<h4>Lower Workout #1</h4>
<p>1. Squats: 5 sets x 3-6 reps</p>
<p>2. Split Squats: 2-3 sets x 8-12 reps</p>
<p>3. Hip Thrust: 2-3 sets x 8-12+ reps</p>
<p>4. Leg Curls: 2-3 sets x 10-20 reps</p>
<p>5. Calf Raises: 2-3 sets x 10-20 reps</p>
<p>6. Core Work: 2-3 sets </p>

<h4>Upper Workout #2</h4>
<p>1. Bent Over Barbell Row: 3-5 x 3-6 reps</p>
<p>2. Weight Pull Ups: 3-5 sets x 5-10 reps</p>
<p>3. Incline DB Bench Press: 2-3 sets x 10-15 reps</p>
<p>4. Seated Arnold Press: 2-3 sets x 10-15 reps</p>
<p>5. Lateral Raises: 2-3 sets x 10-20 reps</p>
<p>6. Tricep Kickbacks: 2-3 sets x 10-20 reps </p>

<h4>Lower Workout #2</h4>
<p>1. Deadlifts: 5 sets x 3-6 reps</p>
<p>2. Good Mornings: 2-3 sets x 8-12 reps</p>
<p>3. Leg Press: 2-3 sets x 10-20 reps</p>
<p>4. Stiff-Leg Deadlift: 2-3 sets x 8-12 reps</p>
<p>5. Leg Extensions: 2-3 sets x 10-20 reps</p>
<p>6. Core Work: 2-3 sets </p>

<h1>3. PUSH PULL LEGS WORKOUT SPLIT</h1>

<h3>3 Day Split:</h3>
<p>Monday: Push</p>
<p>Tuesday: Rest</p>
<p>Wednesday: Legs</p>
<p>Thursday: Rest</p>
<p>Friday: Pull</p>
<p>Saturday: Rest</p>
<p>Sunday: Rest</p>

<h4>Push Workout</h4>
<p>1. Bench Press: 3 sets x 6-10 reps</p>
<p>2. Standing Overhead Press: 3 sets x 6-10 reps</p>
<p>3. Parallel Dips: 3 sets x 8-15 reps</p>
<p>4. Dumbbell Fly: 3 sets x 8-12 reps</p>
<p>5. Lateral DB Raises: 3 sets x 10-15 reps</p>
<p>6. Tricep Extensions: 3 sets x 15-20 reps</p>
<p>7. Core work: 2-3 sets</p>

<h4>Legs Workout</h4>
<p>1. Back Squats: 3 sets x 5-10 reps</p>
<p>2. Deadlifts: 3 sets x 5-10 reps</p>
<p>3. Split Squats: 3 sets x 8-12 reps each side</p>
<p>4. Hip Thrusts: 3 sets x 8-15 reps</p>
<p>5. Calf raises: 3 sets x 12-20 reps</p>
<p>6. Core Work: 2-3 sets</p>

<h4>Pull Workout</h4>
<p>1. Pull Ups or Chin Ups: 3 sets x max reps (full range of motion)</p>
<p>2. Bent Over Rows: 3 sets x 6-12 reps</p>
<p>3. T-Bar Rows: 3 sets x 8-15 reps</p>
<p>4. Rear Delt Flys: 3 sets x 12-20 reps</p>
<p>5. Shrugs: 3 sets x 12-20 reps</p>
<p>6. Bicep Curls: 3 sets x 15-20 reps</p>
<p>7. Core work: 2-3 sets</p>

<h1>4. BODY PART WORKOUT SPLIT (AKA BRO SPLIT)</h1>

<h3>5 Day Split:</h3>
<p>Day 1: Legs</p>
<p>Day 2: Chest</p>
<p>Day 3: Back</p>
<p>Day 4: Shoulders</p>
<p>Day 5: Arms & Abs</p>
<p>Day 6-7: Rest </p>

<h4>Leg Workout</h4>
<p>1. Back Squats: 3-4 sets x 5-10 reps</p>
<p>2. Stiff-Leg Deadlifts: 3 sets x 8-12 reps</p>
<p>3. Barbell Hip Thrusts: 3 sets x 8-12 reps</p>
<p>4. Split Squats: 3 sets x 8-12 reps each side</p>
<p>5. Leg Extensions: 2 sets x 10-20 reps</p>
<p>6. Leg Curls: 2 sets x 10-20 reps</p>
<p>7. Calf Raises: 3 sets x 10-20 reps </p>


<h4>Chest Day</h4>
<p>1. Barbell Bench Press: 3-4 sets x 6-12 reps</p>
<p>2. Incline DB Bench Press: 3 sets x 8-15 reps</p>
<p>3. Cable Fly High to Low: 3 sets x 10-15 reps</p>
<p>4. Cable Fly Low to High: 3 sets x 10-15 reps</p>
<p>5. Dips: 3 sets x 10-20 reps </p>

<h4>Back Day</h4>
<p>1. Deadlifts: 3-4 sets x 5-8 reps</p>
<p>2. Pull Ups: 3 sets x max reps</p>
<p>3. Bent Over Barbell Row: 3 sets x 6-12 reps</p>
<p>4. Seated Close Grip Row: 3 sets x 8-15 reps</p>
<p>5. Kroc Row (aka Single Arm Row): 3 sets x 8-15 reps each side </p>
<p>6. Rear Delt Fly: 3 sets x 8-15 reps</p>

<h4>Shoulder Day</h4>
<p>1. Standing Overhead Press: 3-4 sets x 6-12 reps</p>
<p>2. Seated Arnold Press: 3 sets x 8-12 reps</p>
<p>3. Lateral Raises: 3 sets x 10-15 reps</p>
<p>4. Front Raises: 3 sets x 10-15 reps</p>
<p>5. Upright Rows: 3 sets x 10-15 reps</p>
<p>6. Shrugs: 3 sets x 12-20 reps </p>

<h4>Arms & Abs Day</h4>
<p>1. Barbell Bicep Curl: 3 sets x 8-12 reps</p>
<p>2. Alt. Hammer Curl: 2-3 sets x 10-12 reps each</p>
<p>3. Concentration Curl: 2-3 sets x 8-12 reps each side</p>
<p>4. Close Grip Bench: 3 sets x 8-12 reps</p>
<p>5. Tricep Overhead Extension: 2-3 sets x 10-15 reps</p>
<p>6. Tricep Kickback: 2-3 sets x 10-15 reps</p>
<p>7. Hanging Leg Raises: 2 sets x 8-12 reps</p>
<p>8. Plank: 2 sets x 30 sec holds</p>
<p>9. Side Plank: 2 sets x 30 sec hold each side</p>
<p>10. Woodchopper: 2 sets x 10 reps each way</p>

<h2>WORKOUT SPLIT FAQS</h2>

<p>Let's answer some frequently asked questions regarding finding the best workout split.</p>

<h4>HOW OFTEN SHOULD YOU CHANGE YOUR WORKOUT SPLIT?</h4>
<p>If a workout split is working for you and you are seeing good results, you can stick with it. 
    However, it’s good to switch up your training split every 2-3 months. If you are noticing that your results and workouts have plateaued, that’s a good time to switch splits.</p>

<h4>WHAT IS THE BEST WORKOUT SPLIT FOR BEGINNERS?</h4>
<p>
    The absolute best split for a true beginner is a 3 day full body split. This will give you enough training stimulus as well as recovery days.
</p>

<h4>IS THE BRO SPLIT WORKOUT GOOD? </h4>
<p>For bodybuilders, yes. Otherwise, it’s not the most efficient split, especially for beginners.</p>

<h4>WHEN SHOULD I DO CARDIO? </h4>
<p>Cardio is optional. If you want to improve your cardiovascular health, we recommend doing it on your off days, or if you have the energy, on mornings or after your workout 2-3 times per week.</p>
<p>Cardio is not the best for losing fat. Diet and building muscle is the best. Think of cardio as cardiovascular health, not fat loss. </p>

<h4>HOW LONG SHOULD A WORKOUT LAST?</h4>
<p>Your workouts should last no longer than 60 minutes. Ideally, you should be in and out in 30-45 minutes, especially if you are doing a 4-6 day split. If you are taking too long working out, 
    then you need to improve your workout efficiency, as the 45 minute range is best for metabolic health and building muscle. After 45-50 minutes, cortisol levels start to rise (which is not the good hormone, 
    it is the fat producing hormone). Short and sweet (30-45 mins of intense training) is always best. </p>