@{
    ViewData["Title"] = "Routines";
}

<h1>Routines</h1>

<p>
    One of the most crucial parts of a lifter's training involves their workout split, which is essential for tracking progress 
    and focusing on goals such as building muscle, strength, endurance, and athleticism.
    <br />
    But, deciding on the right split can be challenging. Talk to five different people about what workout split is the best and 
    you are likely to get five different splits. Some splits, however, are tried and true, 
    backed by years of results and proven studies, and it's those splits we recommend to clients time and time again.
</p>

<h2>The 4 best workout splits are:</h2>
<table cellspacing="20px">

    <tr>

        <td>@Html.ActionLink("Full Body Split", "FullBodySplit")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Upper Lower Split", "UpperLowerSplit")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("PushPullLegSplit", "Push Pull Leg (PPL) Split")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Classic Bodybuilding (Bro) Split", "BroClassicBodybuildingSplit")</td>

    </tr>

</table>


<p>
    Now that you know what the best splits are, let's get into everything else you need to know, including how to determine which of these 4 splits is best for you, 
    your ideal training frequency, and the best workouts to follow for each.
</p>

<h2>Table of Contents:</h2>

<h4>How to choose the right workout split for you</h4>
<h4>4 Best Workout Splits</h4>
<h4>Workout split FAQs</h4>

<br />

<h2>HOW TO CHOOSE THE RIGHT WORKOUT SPLIT</h2>

<p>A workout split is ideal for training because it helps you divide and conquer your body in a way where you exhaust specific muscles and then let them recover while you train other muscle groups.</p>

<p>This enables you to maximize the intensity, training volume, training frequency, and recovery time of all your muscles, as you follow your schedule for an extended period, anywhere from 4 - 12 weeks.</p>

<p>
    In the most basic sense, a workout split will be created based on:

    How many days a week you will train (i.e. 3, 4 or 5 days per week)
    Targeted muscles for each workout session (i.e. chest, shoulders and triceps for one of the workout days)
    (Usually) specific exercises that you will do for each of those workouts
</p>

<p>There are several things you need to consider when deciding on a workout split. The 5 factors that will help you choose the right workout split are:</p>

<h5>
    Training Experience,
    Goals,
    Availability,
    Rest & Recovery Needs,
    and Weaknesses
</h5>

<p>Keep these factors in mind as you look through the different split options and plans. We're going to briefly discuss each factor, but if you're ready to get right to the workout splits, click the routine links above.</p>

<h2>1. TRAINING EXPERIENCE</h2>

<p>The right training split for a beginner will look a lot different than one for a more advanced lifter. While the overall strategy and goal can be similar, the workout splits training frequency, 
    volume and intensity will differ based on your training experience and fitness level.</p>

<h2>2. GOALS</h2>

<p>People’s fitness goals vary, and the workout split you choose should be influenced by whatever your end goal is. A workout split for someone who wants to strictly build muscle will look a lot different 
    than someone who wants to lose fat.</p>

<h2>3. AVAILABILITY</h2>

<p>Not everyone has a schedule that allows them to workout whenever the want. You need to determine how many days of the week you can actually commit to working out as that will be a big factor in what workout split you should choose.</p>

<h2>4. REST & RECOVERY NEEDS</h2>

<p>Don’t underestimate rest and recovery! It’s just as important as the workouts. Choose a split that you feel will give you the recovery time that your age, fitness level, and lifestyle needs, and if you have plenty of energy on a rest day, 
    then do another activity like a sport, hiking, cycling, or whatever you like. </p>

<h2>5. WEAKNESSES</h2>

<p>
    If you have certain weaknesses that you want to emphasize then choose a workout split or structure one in a way that allows you to improve upon those weaknesses to the fullest potential. For example, if you feel your legs are way behind, 
    then make sure you are doing legs on days that you will definitely be fresh and full of energy or choose a split that allows you to hit legs twice or just legs during one workout session.
</p>

<p>
    All in all, your workout split should be dictated by your goals, training experience, lifestyle, age, availability, and weaknesses, which is why there is no one size fits all in the world of fitness.
</p>

<h2>WORKOUT SPLIT FAQS</h2>

<p>Let's answer some frequently asked questions regarding finding the best workout split.</p>

<h4>HOW OFTEN SHOULD YOU CHANGE YOUR WORKOUT SPLIT?</h4>
<p>If a workout split is working for you and you are seeing good results, you can stick with it. 
    However, it’s good to switch up your training split every 2-3 months. If you are noticing that your results and workouts have plateaued, that’s a good time to switch splits.</p>

<h4>WHAT IS THE BEST WORKOUT SPLIT FOR BEGINNERS?</h4>
<p>
    The absolute best split for a true beginner is a 3 day full body split. This will give you enough training stimulus as well as recovery days.
</p>

<h4>IS THE BRO SPLIT WORKOUT GOOD? </h4>
<p>For bodybuilders, yes. Otherwise, it’s not the most efficient split, especially for beginners.</p>

<h4>WHEN SHOULD I DO CARDIO? </h4>
<p>Cardio is optional. If you want to improve your cardiovascular health, we recommend doing it on your off days, or if you have the energy, on mornings or after your workout 2-3 times per week.</p>
<p>Cardio is not the best for losing fat. Diet and building muscle is the best. Think of cardio as cardiovascular health, not fat loss. </p>

<h4>HOW LONG SHOULD A WORKOUT LAST?</h4>
<p>Your workouts should last no longer than 60 minutes. Ideally, you should be in and out in 30-45 minutes, especially if you are doing a 4-6 day split. If you are taking too long working out, 
    then you need to improve your workout efficiency, as the 45 minute range is best for metabolic health and building muscle. After 45-50 minutes, cortisol levels start to rise (which is not the good hormone, 
    it is the fat producing hormone). Short and sweet (30-45 mins of intense training) is always best. </p>