@{
    ViewData["Title"] = "Seated Leg Curl";
}

<h1>Seated Leg Curl</h1>

<img src="~/Images/leg-curl-seated.webp" class="img-thumbnail" alt="~/Images/leg-curl-seated - 500.webp">

<h2>Muscles Worked in Seated Leg Curls</h2>

<img src="~/Images/muscles-worked-seated-leg-curl.webp" class="img-thumbnail" alt="~/Images/muscles-worked-seated-leg-curl - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Hamstrings</li>
</ul>

<h2>How to Do Seated Leg Curls</h2>

<p>1. Adjust the machine so that you are correctly positioned. Your knees should be in line with the machine’s joint.</p>
<p>2. Push the weight down by bending your knees as far as possible.</p>
<p>3. Slowly let the weight back again.</p>

<br />

<p>The seated leg curl is an isolation exercise that works your hamstrings and is one of the best hamstring exercises you can do.</p>
<br />
<p>A recent study showed that the hamstrings grew 55% more from doing seated leg curls compared to lying leg curls.</p>
