@{
    ViewData["Title"] = "Seated Calf Raise";
}

<h1>Seated Calf Raise</h1>

<img src="~/Images/calf-raise-seated.webp" class="img-thumbnail" alt="~/Images/calf-raise-seated - 500.webp">

<h2>Muscles Worked in Seated Calf Raises</h2>

<img src="~/Images/Muscles-worked-by-calf-raises.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-calf-raises - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Calves</li>
</ul>

<h2>How to Do Seated Calf Raises</h2>

<p>1. Sit down on the seat, and adjust the knee pad to correct height. Place your toes and the ball of your feet on the foot support.</p>
<p>2. Lower the weight by bending your ankles in a controlled movement.</p>
<p>3. Push the weight up by extending your ankles.</p>

<br />

<p>Seated calf raises mostly train the inner calf muscle (solues), because the outer calf muscle (gastrocnemius) is in a shortened position.</p>
