@{
    ViewData["Title"] = "Seated Dumbbell Shoulder Press";
}

<h1>Seated Dumbbell Shoulder Press</h1>

<img src="~/Images/Seated-dumbbell-shoulder-press.webp" class="img-thumbnail" alt="~/Images/Seated-dumbbell-shoulder-press - 500.webp">

<h2>Muscles Worked in the Seated Dumbbell Shoulder Press</h2>

<img src="~/Images/Muscles-worked-overhead-press.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-overhead-press - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Front Deltoid</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Triceps</li>
    <li>Lateral Deltoid</li>
</ul>

<h2>How to Do Seated Dumbbell Shoulder Press</h2>

<p>1. Sit down on a bench with a raised backrest.</p>
<p>2. Grab a pair of dumbbells and lift them up to the starting position at your shoulders.</p>
<p>3. Inhale and lightly brace your core.</p>
<p>4. Press the dumbbells up to straight arms while exhaling.</p>
<p>5. Inhale at the top or while lowering the dumbbells with control back to your shoulders.</p>
<p>6. Repeat for reps.</p>

<br />

<p>The dumbbell shoulder press is a shoulder exercise that involves pressing a pair of dumbbells while sitting down on a bench.</p>
<br />
<p>Using dumbbells means the demand for shoulder stability is, and you can use a long range of motion.</p>\
<br />
<p>By sitting down, you reduce the need for core stabilization and can focus on working your shoulder muscles.</p>
