@{
    ViewData["Title"] = "Squat";
}

<h1>Squat</h1>

<img src="~/Images/squat.webp" class="img-thumbnail" alt="~/Images/squat - 500.webp">

<h2>Muscles Worked in the Squat</h2>

<img src="~/Images/Squat-muscles-worked.webp" class="img-thumbnail" alt="~/Images/Squat-muscles-worked - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Quads</li>
    <li>Adductors</li>
    <li>Glutes</li>
    <li>Lower Back</li>
</ul>

<h4>Secondary Muscles worked:</h4>
<ul>
    <li>Calves</li>
</ul>

<h2>How to Squat with proper form</h2>

<p>1. Place the bar on your upper back. Inhale and brace your core slightly, and unrack the bar.</p>
<p>2. Take two steps back, and adjust your foot position.</p>
<p>3. Squat as deep as possible with good technique.</p>
<p>4. With control, stop and reverse the movement, extending your hips and legs again.</p>
<p>5. Exhale on the way up or exchange air in the top position.</p>
<p>6. Inhale and repeat for reps.</p>

<br />

<p>The squat is known as “the king of all exercises” – and for good reason. Squats have been the staple for bodybuilders looking to grow their leg muscles for decades, and in strength and conditioning, 
    they have been used (and still are used) to improve almost every athletic endeavor that is undertaken on two feet.</p>