@{
    ViewData["Title"] = "Standing Calf Raise";
}

<h1>Standing Calf Raise</h1>

<img src="~/Images/calf-raise-standing.webp" class="img-thumbnail" alt="~/Images/calf-raise-standing - 500.webp">

<h2>Muscles Worked in Standing Calf Raises</h2>

<img src="~/Images/Muscles-worked-by-calf-raises.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-by-calf-raises - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Calves</li>
</ul>

<h2>How to Do Standing Calf Raises</h2>

<p>1. Place your toes and the ball of your feet on the foot support. Place the shoulder pads against your shoulders and stand upright in the starting position.</p>
<p>2. Lower yourself down by bending your ankles in a controlled movement.</p>
<p>3. Push yourself up by extending your ankles.</p>

<br />

<p>Standing calf raises train both the inner (solues) and outer (gastrocnemius) calf muscles simultaneously.</p>
