@{
    ViewData["Title"] = "Tricep Pushdown";
}

<h1>Tricep Pushdown</h1>

<img src="~/Images/triceps-pushdown-with-straight-handle.webp" class="img-thumbnail" alt="~/Images/triceps-pushdown-with-straight-handle - 500.webp">

<h2>Muscles Worked in Tricep Pushdowns</h2>

<img src="~/Images/Muscles-worked-in-Overhead-Cable-Triceps-Extension.webp" class="img-thumbnail" alt="~/Images/Muscles-worked-in-Overhead-Cable-Triceps-Extension - 500.webp">

<h4>Primary muscles worked:</h4>
<ul>
    <li>Triceps</li>
</ul>

<h2>How to Do Tricep Pushdowns</h2>

<p>1. Stand one step away from the cable pulley, and grip a bar about shoulder-width apart.</p>
<p>2. Pull the handle down until your upper arms are perpendicular to the floor. This is the starting position.</p>
<p>3. Push the handle down until your arms are fully extended.</p>
<p>4. With control, let the handle up again.</p>
<br />

<p>The tricep pushdown is an isolation triceps exercise, often performed with a bar or a rope.</p>
<br />
<p>Triceps development. This exercise is good for isolating the triceps, leading to improved muscle size, strength, and definition in the upper arm.</p>