@{
    ViewData["Title"] = "UpperLowerSplit";
}

<h1>UPPER LOWER WORKOUT SPLIT</h1>

<h3>4 Day Split:</h3>
<p>Day 1: Upper Workout #1</p>
<p>Day 2: Lower Workout #1</p>
<p>Day 3: Rest</p>
<p>Day 4: Upper Workout #2</p>
<p>Day 5: Lower Workout #2</p>
<p>Day 6-7: Rest</p>

<h4>Upper Workout #1</h4>
<p>1. Bench Press: 3-5 sets x 3-6 reps</p>
<p>2. Overhead Press: 3-5 sets x 5-8 reps</p>
<p>3. Rear Delt Fly: 2-3 sets x 10-15 reps</p>
<p>4. Trap Raises: 2-3 sets x 8-12+ reps</p>
<p>5. Bicep Curls: 2-3 sets x 8-15 reps</p>

<h4>Lower Workout #1</h4>
<p>1. Squats: 5 sets x 3-6 reps</p>
<p>2. Split Squats: 2-3 sets x 8-12 reps</p>
<p>3. Hip Thrust: 2-3 sets x 8-12+ reps</p>
<p>4. Leg Curls: 2-3 sets x 10-20 reps</p>
<p>5. Calf Raises: 2-3 sets x 10-20 reps</p>
<p>6. Core Work: 2-3 sets </p>

<h4>Upper Workout #2</h4>
<p>1. Bent Over Barbell Row: 3-5 x 3-6 reps</p>
<p>2. Weight Pull Ups: 3-5 sets x 5-10 reps</p>
<p>3. Incline DB Bench Press: 2-3 sets x 10-15 reps</p>
<p>4. Seated Arnold Press: 2-3 sets x 10-15 reps</p>
<p>5. Lateral Raises: 2-3 sets x 10-20 reps</p>
<p>6. Tricep Kickbacks: 2-3 sets x 10-20 reps </p>

<h4>Lower Workout #2</h4>
<p>1. Deadlifts: 5 sets x 3-6 reps</p>
<p>2. Good Mornings: 2-3 sets x 8-12 reps</p>
<p>3. Leg Press: 2-3 sets x 10-20 reps</p>
<p>4. Stiff-Leg Deadlift: 2-3 sets x 8-12 reps</p>
<p>5. Leg Extensions: 2-3 sets x 10-20 reps</p>
<p>6. Core Work: 2-3 sets </p>

<p>
    The Upper/Lower Split ensures that both upper and lower body muscles are worked evenly, promoting balanced muscle development and reducing the risk of imbalances.
    By dedicating specific days to each muscle group, you can focus on optimizing the training stimulus for each area.
</p>